h1{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background-color: lightblue;
    margin: 2%;
    padding: 15px;
    border-radius: 5px;
    border: solid 3px rgb(10, 10, 209);
    box-shadow: 10px 10px 10px;



}